input/Aadhaar Card renamed.png
input/B.Tech Degree - Back renamed.png
input/B.Tech Degree - Front renamed.png
input/Birth Certificate renamed.png
input/Birth Certificate White renamed.png
input/Caste Certificate - Back renamed.png
input/Caste Certificate renamed.png
